# ===============================
# Spring Boot Environment Config
# ===============================

# Application
SPRING_APPLICATION_NAME=InventoryManagementSystemAPI
SERVER_PORT=8080

# ===============================
#  Database Configuration (PostgreSQL)
# ===============================
DB_URL=jdbc:postgresql://localhost:5432/InventoryAPI
DB_USERNAME=postgres
DB_PASSWORD=Bankia@77


